body{
  font-family: -apple-system, system-ui, "PingFang TC", "Noto Sans", 微軟正黑體, Helvetica, sans-serif;
  background-color: #ffffff;
}

::selection {
  background: rgb(0, 181, 173);
  color: #ffffff;
}

.main{
  padding-left: 10rem; 
}

.icon{
  padding-top: 10rem;
}

.icon img{
  max-height: 32px;
}

h1{
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.content{
  line-height: 2rem;
}

.grey {
  color: #999999;
}

.description {
  font-weight: 300;
}

.bg-image{
  overflow: hidden;
  width: 100%;
  height: 824px;
}

.bg-image img {
  height: 100%;
}

.in-block {
  display: inline-block;
}

.step-group {
  text-align: center;
}

.step img {
  padding-bottom: 8px;
}

.btn.btn-raised.btn-primary{
  background-color: rgb(0, 181, 173);
  width: 120px;
  line-height: 33px;
  font-size: 1rem;
}

.bmd-btn-fab.btn-primary.active.custom-file-control:before, .bmd-btn-fab.btn-primary.custom-file-control:active:before, .bmd-btn-fab.btn-primary.custom-file-control:focus:before, .bmd-btn-fab.btn-primary.custom-file-control:hover:before, .bmd-btn-fab.btn-primary.focus.custom-file-control:before, .btn-group-raised .btn-primary.active.custom-file-control:before, .btn-group-raised .btn-primary.custom-file-control:active:before, .btn-group-raised .btn-primary.custom-file-control:focus:before, .btn-group-raised .btn-primary.custom-file-control:hover:before, .btn-group-raised .btn-primary.focus.custom-file-control:before, .btn-group-raised .btn.btn-primary.active, .btn-group-raised .btn.btn-primary.focus, .btn-group-raised .btn.btn-primary:active, .btn-group-raised .btn.btn-primary:focus, .btn-group-raised .btn.btn-primary:hover, .btn-raised.btn-primary.active.custom-file-control:before, .btn-raised.btn-primary.custom-file-control:active:before, .btn-raised.btn-primary.custom-file-control:focus:before, .btn-raised.btn-primary.custom-file-control:hover:before, .btn-raised.btn-primary.focus.custom-file-control:before, .btn.bmd-btn-fab.btn-primary.active, .btn.bmd-btn-fab.btn-primary.focus, .btn.bmd-btn-fab.btn-primary:active, .btn.bmd-btn-fab.btn-primary:focus, .btn.bmd-btn-fab.btn-primary:hover, .btn.btn-raised.btn-primary.active, .btn.btn-raised.btn-primary.focus, .btn.btn-raised.btn-primary:active, .btn.btn-raised.btn-primary:focus, .btn.btn-raised.btn-primary:hover, .open>.bmd-btn-fab.btn-primary.dropdown-toggle.custom-file-control:before, .open>.btn-group-raised .btn-primary.dropdown-toggle.custom-file-control:before, .open>.btn-group-raised .btn.btn-primary.dropdown-toggle, .open>.btn-raised.btn-primary.dropdown-toggle.custom-file-control:before, .open>.btn.bmd-btn-fab.btn-primary.dropdown-toggle, .open>.btn.btn-raised.btn-primary.dropdown-toggle{
  background-color: rgb(0, 181, 173);
  opacity: 0.8;
  border-color: transparent; 
}


@media screen and (max-width: 540px) {
  .main {
    padding-left: 0px;
    margin: 16 px; 
  }
  
  .icon{
    padding: 16px;
  }

  h1 {
    padding: 16px;
  }

  .step{
    padding: 16px;
  }

  .content{
    padding: 16px;
  }
  .main-btn{
    padding: 16px;
    margin-bottom: 16px;
  }
}