body{
  background: #fafafa;
}

nav{
  background: #ffffff;
}

.invisible{
  height: 24px;
}

.container-fluid{
  height: 56px;
  padding: 0;
  border: 0.5px solid #f4f4f4;
}

.navi-object {
  max-width: 1140px;
  display: flex;
  margin: auto;
}

nav .icon{
  max-height: 40px;
  padding-top:11px;
  padding-left: 16px;
}

.process{
  height: 48px;
  background: #ffffff;
}

.process-object{
  line-height: 48px;
}

.small-font{
  font-size: 12px;
}

.arrow {
  display: flex;
  align-items: center;
}

.inactive {
  color: #999999;
  font-weight: 300;
}

h1{
  padding-top: 0px;
}

.card{
  max-width: 450px;
  margin: auto;
  border-radius: 4px;
}

.box-shadow{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.12);
  border-radius: 5px;
}

.card-title{
  text-align: center;
  border-bottom: 0.5px solid #f4f4f4;
  color: #767676;
  letter-spacing: 0.5px;
}

.card-img{
  background-image: url(/images/cover-1.jpg);
  height: 125px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-name {
  color: #999999;
  font-weight: 300;
  font-size: 0.75rem; 
}

.card-description P{
  margin-bottom: 0;
}

.card-description{
  font-size: 0.875rem;
}

form{
  margin-bottom: 8px;
}

.form-row{
  margin-right: 0px;
  margin-left: 0px; 
}

.form-row>.col, .form-row>[class*=col-]{
  padding-left: 0px;
  padding-right: 0px;
}

.is-focused [class^=bmd-label] {
  color: rgb(0, 181, 173);
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,#00b5ad 2px,rgba(0,150,136,0) 0), linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0)
}

.btn.btn-raised.btn-primary{
  display: inline-block;
  width: calc(100% - 32px)
}

.privacy-policy{
  text-align: center
}

.main-icon{
  margin: auto;
}

.special-description{
  max-width: 300px;
  margin: auto;
}

.clipboard {
  position: relative;
  top: 50%;
  left: 10%;
  max-width: 418px;
}

.clipboard input{
  min-height: 40px;
  border: 1px solid #eee;
  border-radius: 5px 0px 0px 5px;
  padding-left: 8px;
  width: 60%;
}

.clipboard :focus{
  border-color: #00b5ad;
  outline: none;
  box-shadow: none;
}

.btn.btn-outline-primary {
  border-color: currentColor;
  color: #00b5ad;
  background-color: transparent;
  border: 1px solid #00b5ad;
  font-weight: 300;
  min-height: 40px;
  width: 25%;
}

.btn-outline-primary.active.custom-file-control:before, .btn-outline-primary.custom-file-control:active:before, .btn-outline-primary.custom-file-control:focus:before, .btn-outline-primary.custom-file-control:hover:before, .btn-outline-primary.focus.custom-file-control:before, .btn.btn-outline-primary.active, .btn.btn-outline-primary.focus, .btn.btn-outline-primary:active, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:hover, .open>.btn-outline-primary.dropdown-toggle.custom-file-control:before, .open>.btn.btn-outline-primary.dropdown-toggle{
  background-color: #00b5ad;
  color: #ffffff;
  border: none;
}

.main-btn{
  display: inline-block;
  margin: auto;
}

.btn.btn-raised.btn-primary.btn-center {
  width: 418px;
}

.row{
  max-width: 1140px;
  margin: auto;
}

.white-bg{
  background-color: #ffffff;
}

.white-bg .description{
  display: block;
  max-width: 500px;
  margin: auto;
  font-size: 14px;
}

.intro a{
  font-weight: 300;
}

.unit{
  display: inline-flex;
  height: 32px;
  width: 105px;
  overflow: hidden;
  border: 1px solid #dcd8d8;
  background: #fafafa;
}

p.unit-col {
  height: 32px;
  width: 35px;
  padding-left: 9px;
  padding-top: 2px;
}

.unit-number{
  width: 35px;
  height: 32px;
  background: #ffffff;
  padding-top: 3px;
  padding-left: 13px;
}

.des{
  display: inline-flex;
  color: #999999;
}

.custom-select:focus {
  border-color: #00b5ad;
  outline: 0;
  box-shadow: none;
}

.accordion{
  padding-bottom: 160px;
}

.faq{
  background-color: #fafafa;
}

.card-body{
  font-size: 14px;
  padding: 8px 0px;
}

.fixed-bottom{
  position: fixed;  
  max-height: 80px;
  border-radius: 0;
}

.fixed-container{
  padding: 16px 32px;
}

.total-amount{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'karla';
}

button.btn.btn-raised.btn-primary.fixed-btn{
  width: 200px;
  margin: 0;
}

.total-style{
  font-size: 12px;
  color: #999999 
}

@media screen and (max-width: 450px){
  .white-bg{
    padding-left: 16px;
    padding-right: 16px;
  }

  h1{
    height: 8px;
  }
  
  .card{
    width: calc(100% - 24px)
  }

  .btn.btn-raised.btn-primary.btn-center {
    width: calc(100% - 32px);
  }
  
  .main-btn{
    padding: 0;
    width: calc(100%);
  }

  .process{
    height: 24px;
    background: transparent;
  }

  .object-inactive {
    display: none;
  }
  
  .clipboard{
    left: 7%;
  }

  .order-sm-1{
    order: 1;
  }

  .order-sm-2{
    order: 2;
  }

  .accordion{
    padding-bottom: 16px;
  }

  .fixed-container{
    padding: 16px 8px;
  }

  button.btn.btn-raised.btn-primary.fixed-btn{
    width: 144px
  }

}

