body{
  background: #fafafa;
}

nav{
  background: #ffffff;
}

.container-fluid{
  height: 56px;
  padding: 0;
  border: 0.5px solid #f4f4f4;
}

.navi-object {
  max-width: 1140px;
  display: flex;
  margin: auto;
}

nav .icon{
  max-height: 40px;
  padding-top:11px;
  padding-left: 16px;
}



.process{
  height: 48px;
  background: #ffffff;
}

.process-object{
  line-height: 48px;
}

.small-font{
  font-size: 12px;
}

.arrow {
  display: flex;
  align-items: center;
}

.inactive {
  color: #999999;
  font-weight: 300;
}

h1{
  padding-top: 0px;
}

.card{
  max-width: 450px;
  margin: auto;
  border-radius: 5px;
}

.card-title{
  text-align: center;
  border-bottom: 0.5px solid #f4f4f4;
  color: #767676;
  letter-spacing: 0.5px;
}

.card-img{
  background-image: url(/images/cover-1.jpg);
  height: 200px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}